{{>header}}
<title>Login | Welcome</title>
<body>
 <div id="forms" class="signup">
  <div class="left">
   <img src="/img/logo.png" alt="">
   <h3>Discover your world of possibilities and limitlessness</h3>
  </div>
  <div class="right">
   <h3>Not a member? <a href="/account/register">Sign up now</a></h3>
   
    <div class="form-fields">
     <h2>Sign in to Task Manager</h2>
     <div class="oauth">
      <button class="btn-primary" type="submit"> <i class="fab fa-google"></i> Sign in with Google </button>
      <button type="submit" class="btn-dark"> <i class="fab fa-twitter"></i> </button>
     </div>
     
     <div class="or-alternative">Or</div>
      
      <!-- Email -->
      <form method="POST" action="/account/login">
      <div class="form-group">
       <label for="email">Username or Email Address</label>
      </div>
  
      <div class="form-group">
       <input type="email" id="email" name="email" required>
      </div>
  
      <!-- Password -->
      <div class="form-group">
       <label for="password">
        Password
        <a href="/forget-pass"> Forget password?</a>
       </label>
      </div>
  
      <div class="form-group">
       <input type="password" id="password" name="password" required>
      </div>
      <!-- Password ends -->
      <div class="accept">
       <input type="checkbox" id="accept" required>
       <p>by login means you're okay with our Terms of services, Privacy .....</p>
      </div>
 
     <!-- Create Account -->
     <input type="submit" class="btn-secondary" value="Create Account">
    </div>
   </form>
  </div>
 </div>
 {{>footer}}
</body>